@import "../../style/base/common";
.home{
  .channel{
    .txt-title{
      @include t-title-01;
      margin-bottom: 15px;
    }
    .box-btn{
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
  }
}