.header{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  .container{
    display: flex;
    align-items: center;
    height: var(--height-header);
    width: 100%;
    .search-header{
      width: 100%;
      justify-content: center;
      display: flex;
      margin: 0 20px;
      .search-form{
        max-width: 400px;
      }
    }
    .btn-menu{
      margin-left: auto;
    } 
  }
  
}