@import "../../../style/base/common";

.objective-test{
	.question{
		display: flex;
		gap: 5px;
		margin: 10px 0;
		align-items: center;
		flex-wrap: wrap;
		.hide,.active,.error{
			width: 100px;
			border: 1px solid #0008ff;
			border-radius: 5px;
			text-align: center;
			font-weight: bold;
			padding: 5px;
		}
		
		input{
			width: 100px;
			border: 1px solid #0008ff;
			border-radius: 5px;
			text-align: center;
			font-weight: bold;
			padding: 5px;
			&.error{
				border: 1px solid $color02;
			}
			&:focus-visible {
				outline: none;
			}
		}
		p{
			margin: 0;
			@include t-title-01;
			min-height: 20px;
			&.active{
				border: 1px solid transparent;
				min-width: 100px;
				width: auto;
				@include active_background;
			}
			&.error{
				border: 1px solid transparent;
				min-width: 100px;
				width: auto;
				@include error_background;
			}
		}
	}
	.answer{
		margin: 10px 0;
		.badge{
			cursor: pointer;
		}
	}
	.btn-box{
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
	
}